#course-list ul {
    list-style-image: url('../img/drag-handle.png');
    list-style-position: inside;
}

#course-list li {
    cursor: pointer;
    margin: 2px;
    padding: 4px;
    background-color: #adf;
    width: 90%;
}

#course-list span.course-id {
    display: none;
}