#courselist ul {
    list-style-image: url('../img/drag-handle.png');
    list-style-position: inside;
}

#courselist li {
    cursor: pointer;
    margin: 2px;
    padding: 4px;
    background-color: #adf;
    width: 90%;
}
