body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: #dde;
}

h2 {
    color: #227;
    margin: 0;
}

.abbrev {
    font-style: italic;
    font-size: 80%;
    color: #b2c;
}


.frame {
    margin: 20px auto auto;
    background-color: white;
    width: 800px;
}

.frame table {
    width: 100%;
}

.frame td.heading {
    text-align: center;
    font-style: italic;
    padding: 4px 2px;
    background-color: #cce;
    color: #327;
}

.frame td.label {
    font-style: italic;
    color: #888;
}

.frame td.course-item {
    font-size: 10pt;
    color: maroon;
}

/* app styles */

#app-ctrl {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #dde;
}

.tab-block {
    display: inline-block;
}

.logout-block {
    display: inline-block;
    margin-left: 40px;
}

#app-ctrl .btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;

}
#app-ctrl .btn:hover {
    font-weight: bold;
}

#app-ctrl .tab {
    width: 80px;
    height: 20px;
    background-color: wheat;
    border-top: 2px solid goldenrod;
    border-right: 2px solid goldenrod;
    border-left: 2px solid goldenrod;
    padding: 6px;
    margin: 4px;
}

#app-ctrl .tab.current {
    background-color: #bbd;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

#app-ctrl .logout {
    background-color: white;
    border: 1px solid slateblue;
    width: 50px;
    padding: 2px;
    margin: 4px 40px;
    font-size: 10pt;
}

#app-ctrl .username {
    display: inline-block;
    font-style: italic;
    font-size: 10pt;
}

#view {
    position: relative;
    top: 38px;
    height: 400px;
    padding: 4px;
    background-color: #bbd;
    border-bottom: 2px solid #448;
    border-right: 2px solid #448;
    border-left: 2px solid #448;
}

.footer {
    border-top: 1px solid #cce;
    font-size: 8pt;
    font-style: italic;
    background-color: #eef;
    color: #888;
    float: right;
}

/* actual content styles */

#course-info {
    width: 600px;
}

#student-info {
    width: 400px;
}
