body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: #dde;
}

h2 {
    color: #227;
}

.abbrev {
    font-style: italic;
    font-size: 80%;
    color: #b2c;
}

#login-box {
    margin: 100px auto auto;
    width: 340px;
    height: 160px;
    background-color: #bbf;
    border: 2px solid #88d;
}

#login-box h3 {
    font-style: italic;
    width: 100%;
    text-align: center;
}

#login-box table {
    margin: auto;
}

#login-box .label {
    font-style: italic;
    font-size: 10pt;
    color: blue;
}

#login-box .field input {
    width: 160px;
}

#login-box  .error {
    height: 12px;
    font-size: 8pt;
    color: #844;
}

#login-box .control {
    text-align: center;
    padding-top: 12px;
}


.frame {
    margin: 20px auto auto;
    background-color: white;
    width: 800px;
}

.frame table {
    width: 100%;
}

.frame td.heading {
    text-align: center;
    font-style: italic;
    padding: 4px 2px;
    background-color: #cce;
    color: #327;
}

.frame td.label {
    font-style: italic;
    color: #888;
}

.frame td.course-item {
    font-size: 10pt;
    color: maroon;
}

/* app styles */

#app-ctrl {
    width: 100%;
    height: 32px;
}

.ljust {
    float: left;
}

.rjust {
    float: right;
}

#app-ctrl .tab {
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 20px;
    background-color: goldenrod;
    border: 1px solid black;
    padding: 6px;
    margin: 4px;
}

#app-ctrl .username {
    display: inline-block;
    font-style: italic;
    margin-right: 30px;
}

#app-ctrl .btn {
    display: inline-block;
    background-color: wheat;
    border: 1px solid slateblue;
    padding: 6px;
    margin: 4px;
}

#view {
    height: 400px;
    background-color: #cbd;
}

.footer {
    border-top: 1px solid #cce;
    font-size: 8pt;
    font-style: italic;
    background-color: #eef;
    color: #888;
    float: right;
}

/* actual content styles */

#course-info {
    width: 600px;
}

#student-info {
    width: 400px;
}
