@(username: String)

@main("Recommender Mk.IV") {
    <script type="text/javascript">
            function logout() {
                window.location.href = "login";
            }
            function getCourse(){
                window.location = "courses/" +
                    document.getElementById('courseidtxtbox').value;
                }
            function getStudent(){
                window.location = "students/" +
                    document.getElementById('studentidtxtbox').value;
                }
    </script>

    <div id="recommender-admin" class="frame">
        <div id="app-ctrl">
            <div class="title">Recommender Administrative View</div>
            <div class="logout-block">
                <div class="btn logout"
                    onclick="logout()">Logout</div>
                <div class="username"> Logged in as <b>@username</b></div>
            </div>
        </div>

        <div id="view">
            <ul>
                <li>
                    <a href="courses">List all Courses</a>
                </li>
                <li>
                    Get Course Summary:
                    <input type="text" value="" id="courseidtxtbox" />
                    <input type="button" value="Get" onmousedown="getCourse();" />
                </li>
                <li>
                    Get Student Summary:
                    <input type="text" value="" id="studentidtxtbox" />
                    <input type="button" value="Get" onmousedown="getStudent();" />
                </li>
                <li>
                    <a href="xxx">Operate in Shadow Mode</a>
                </li>
                <li>
                    <a href="xxx">Adjust Parameters</a>
                </li>
            </ul>
        </div>
    </div>
}
