@main("Recommender Login") {

    <script type="text/javascript">
        function loginError() {
            $('#login-box').find('.error').text('*Incorrect username or password*');
        }

        function doLogin() {
            var user = $('#login-user').val(),
                pass = $('#login-pass').val(),
                data = {
                    user: user,
                    pass: pass
                };

            $.postJSON('dologin', data, function (response) {
                if (response.goodToGo) {
                    window.location.href = response.redirect;
                } else {
                    loginError();
                }
            });
        }
    </script>

    <div id="login-box">
        <h3>Course Recommendation System</h3>

        <table>
            <tr>
                <td class="field">
                    <input id="login-user" type="text" placeholder="username">
                </td>
            </tr>
            <tr>
                <td class="field">
                    <input id="login-pass" type="password" placeholder="password">
                </td>
            </tr>
            <tr>
                <td class="error"></td>
            </tr>
            <tr>
                <td class="control">
                    <input type="button" value="Login" onclick="doLogin();">
                </td>
            </tr>
        </table>
    </div>
}