@import java.util
@(student: Student, solns: util.List[StudentSolution])

@main("Student Summary") {

    <div class="frame">
        <table class="student-info">
            <tr>
                <td> Student ID: <b>@student.id</b> </td>
            </tr>
            <tr>
                <td> Username: <b> @student.username </b></td>
            </tr>
            <tr>
                <td> Last Modified: <b> @student.modified() </b></td>
            </tr>
            <tr>
                <td> Student Name: <b> @student.fullname </b></td>
            </tr>
            <tr>
                <td> Credits earned: <b> @student.transcript.getCreditsEarned() </b></td>
            </tr>

            <tr>
                <td> Courses Preferred (@student.numCoursesPreferred): </td>
            </tr>
            @for(course <- student.getCoursesOrderedByCsv()) {
                <tr class="course">
                    <td>@course.title()</td>
                </tr>
            }

            <tr>
                <td> Solutions: </td>
            </tr>
            @for(soln <- solns) {
                <tr class="batch">
                    <td>batch : @soln.batchNumber
                       <span class="ts">@soln.created()</span>
                    </td>
                </tr>
                @for(rec <- soln.recommendedCourses) {
                    <tr class="course">
                        <td> @rec.title() </td>
                    </tr>
                }
            }

        </table>
    </div>
}