@import java.util
@(student: Student)

@import helper._

@main("Student Summary") {

    <table>
    <tr>
        <td> <b>Student ID:</b> @student.id </td>
    </tr>
    <tr>
        <td> <b>Username:</b> @student.username </td>
    </tr>
    <tr>
        <td> <b>Student Name:</b> @student.fullname </td>
    </tr>
    <tr>
        <td> <b>Credits earned:</b> @student.transcript.getCreditsEarned() </td>
    </tr>
    <tr>
        <td> Courses Preferred (@student.numCoursesPreferred): </td>
    </tr>
    @for(course <- student.coursesPreferred) {
        <tr>
            <td>@course.name</td>
        </tr>
    }
    </table>

}